<div *ngIf="!isEdit">
  <p>
    {{stage.name}}
  </p>
  <button mat-raised-button color="primary"(click)="onEditStart()">Редактировать</button>
</div>
<div *ngIf="isEdit">
  <input [(ngModel)]="stageName">
  <button mat-raised-button color="primary" (click)="onEditFinish()">Сохранить</button>
  <button mat-raised-button color="accent" (click)="onEditCancel()">Отмена</button>
</div>
<app-task-form (create)="createTask($event)"></app-task-form>

<div *ngFor="let task of stage.tasks">
  <app-task
    [moveEnabled]="moveEnabled"
    (moveTask)="onTaskMoved($event)"
    [task]="task"></app-task>
</div>
