<form [formGroup]="taskForm" (submit)="createTask()">
  <label title="Название">
    Название:
    <input formControlName="name">
  </label>
  <br>
  <app-control-error [control]="taskForm.controls.name"></app-control-error>
  <label title="Описание">
    Описание:
    <input formControlName="description">
  </label>
  <br>
  <app-control-error [control]="taskForm.controls.description"></app-control-error>
  <select formControlName="executor">
    <option *ngFor="let exec of executors" [value]="exec">
      {{exec}}
    </option>
  </select>
  <button type="submit">Создать</button>
</form>
